<?xml version="1.0" encoding="UTF-8"?>
    <servlet>
    	<servlet-name>servletOlaMundo</servlet-name>
    	<servlet-class>
    		br.com.caelum.servlet.OlaMundo
    	</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>servletOlaMundo</servlet-name>
    	<url-pattern>/ola</url-pattern>
    </servlet-mapping>
    <error-page>
    	<exception-type>java.lang.Exception</exception-type>
    	<location>/erro.html</location>
    </error-page>
    <error-page>
    	<error-code>404</error-code>
    	<location>/404.html</location>
    </error-page>
        <error-page>
    	<error-code>405</error-code>
    	<location>/405.html</location>
    </error-page>

</web-app>